# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\StudyFolder\2021 春\留学\Summer Application\新国立\Summer Workshop\课程\Phase2\Project\Code\FinalUpload\Cloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
